<div class="full-width">
  <h2 mat-dialog-title>
    Agregar Vehiculo
    <span style="text-transform: capitalize">{{ data.vehicleType }}</span>
  </h2>
  <form (submit)="onSubmit()">
    <mat-dialog-content>
      <mat-form-field class="full-width">
        <mat-label>Placas del vehiculo</mat-label>
        <input
          type="text"
          matInput
          [formControl]="licensePlateFormControl"
          placeholder="ABCD-12-34"
          style="text-transform: uppercase"
        />
        <mat-hint>Ejemplo: ABC-123-D</mat-hint>
        @if(licensePlateFormControl.hasError('minlength')) {
        <mat-error>La placa debe de tener al menos 6 caracteres</mat-error>
        } @else if(licensePlateFormControl.hasError('pattern')) {
        <mat-error>
          La placa debe contener solo numeros, letras y al menos un guion
        </mat-error>
        } @else if(licensePlateFormControl.hasError('required')) {
        <mat-error>La placa es requerida</mat-error>
        }
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close type="button">Cerrar</button>
      <button mat-raised-button type="submit">Agregar</button>
    </mat-dialog-actions>
  </form>
</div>
